{% extends 'main.html' %}

{% block title %}Страница пользователя{% endblock title %}

{% block header %}
    <h1><a href="/authorization/">Страница авторизованного пользователя {{ request.user.username }}</a></h1>
{% endblock header %}


{% block content %}
<table>
    <tr>
        <td>
            <button type="button" name="button" style="width: 70px; height:35px;">
                <a href="/accounts/logout/">Выйти</a>
            </button>
        </td>
        <td>
        {% if is_not_authors %}
            <button type="button" name="button" style="width: 130px; height:35px;">
                <a href="/sign/me_author/">Хочу быть автором</a>
            </button>
        {% endif %}
        </td>
        <td>
            <button type="button" name="button" style="width: 120px; height:35px;">
                <a href="{% url 'section_create' %}" title="Создать раздел">Создать раздел</a>
            </button>
        </td>
    </tr>
</table>
<br><hr><br>
    {% if sections %}
        <h2>{{ request.user.first_name }} {{ request.user.last_name }} вы подписаны на раздел портала:</h2>
        <table>
        {% for section in sections %}
           <tr>
               <td>
                   <h3>
                       <a href="/categories/{{ section.id }}/" title="Категория {{ section.name_cat }}">{{ section.name_cat }}</a>
                   </h3>
               </td>
               <td>
               {% if section.subscribed %}
                   <p>Подписка оформлена</p>
               {% else %}
                   <button type="button" name="button" style="width: 110px; height:35px;">
                       <a href="{% url 'subs_me' section.id %}" title="Подписаться">Подписаться</a>
                   </button>
               {% endif %}
               </td>
               <td>
                   <button type="button" name="button" style="width: 130px; height:35px;">
                       <a href="/categories/{{ section.id }}/edit/" title="Редактировать">Редактировать</a>
                   </button>
               </td>
               <td>
                   <button type="button" name="button" style="width: 80px; height:35px;">
                       <a href="/categories/{{ section.id }}/delete/" title="Удалить">Удалить</a>
                   </button>
               </td>
           </tr>
            <tr>
               <td colspan="4"><h4>{{ section.description }}</h4></td>
           </tr>
        {% endfor %}
        </table>
    {% else %}
        <h2>Разделы отсутствуют на портале</h2>
    {% endif %}
{% endblock content %}

{% block footer %}
{% endblock footer %}

{% block attribution %}
{% endblock attribution %}