<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        {% load static %}
        <title>Подтверждение регистрации на портале</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="title" content="SkillFactory: project NewsPortal" />
        <meta name="author" content="Bit-trade of company FORin" />
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css" />
    </head>
<body>
<div id="pseudo-wrap1"></div>
<div id="pseudo-wrap2"></div>
<!-- Begin Wrapper -->
<div id="wrap">
	<!--Begin Header -->
	<div id="header">Подтверждение регистрации на портале</div>
	<!--End Header -->
<nav>
<label for="show-menu" class="responsive">&#9776; Menu</label>
</nav>
{% load account %}
	<!-- Begin Content -->
	<div id="content">
        <div class="post">
            <h2>Спасибо за регистрацию {{ user.username }}!</h2>
            <p>Пожалуйста, перейдите по <a href="{{ activate_url }}">ссылке</a>, чтобы активировать свою учетную запись.</p>
        </div>
    </div>
    <!--End Content -->
	<!--Begin Footer -->
	<div id="footer">
        {% block footer %}
	    <div class="notice">&copy; Copyright <a title="FORin" href="http://www.forin.biz">FORin</a>. All rights reserved.</div>
        {% endblock footer %}
	</div>
	<!--End Footer -->
</div>
<!-- End Wrapper -->
</body>
</html>