{% extends 'main.html' %}

{% load censor_filters %}

{% block title %}
    {% if news %}
        Статьи портала
    {% else %}
        Статей нет!
    {% endif %}
{% endblock title %}

{% block header %}
    <h1><a href="#" title="Статьи портала">Статьи портала</a></h1>
    <p>Общее количество статей: {{ articles|length }}</p>
{% endblock header %}

{% block content %}
    <button type="button" name="button" style="width: 80px; height:35px;">
      <a href="create/" title="Создать">Создать</a>
    </button><br><hr><br>
     {% if articles %}
        {% for article in articles %}
		    <h2><a title="{{ article.title|censor }}" href="{{ article.id }}">{{ article.title|censor }}</a></h2>
		    <span class="author">Posted by: <a href="#">{{ article.author.full_name }}</a> |
            <a href="#">{{ article.date_creation|date:'d.m.y' }}</a> |
            <a href="#">{{ article.comment_set.all.count }} comment(s)</a></span>
		    <p>{{ article.text_post|censor|truncatewords:100 }}</p>
        {% endfor %}
    {% else %}
        <h2>Статей нет!</h2>
    {% endif %}
{% endblock content %}

{#{% block footer %}#}
{##}
{#{% endblock footer %}#}

{% block attribution %}
{% endblock attribution %}