{% extends 'main.html' %}

{% block title %}
    
{% endblock title %}

{% block header %}
    <h1></h1>
{% endblock header %}


{% block content %}
    <button type="button" name="button" style="width: 120px; height:35px;">
      <a href="/categories/{{ section_detail.id }}/edit/" title="Редактировать">Редактировать</a>
    </button><br><hr><br>
    <h2>{{ section_detail.user.first_name }} {{ section_detail.user.last_name }}: это детали категории {{ section_detail.name_cat }}</h2>
    <h3>Здесь должно что-то быть</h3>
{% endblock content %}

{% block footer %}
{% endblock footer %}

{% block attribution %}
{% endblock attribution %}
