{% extends 'main.html' %}

{% block title %}
    {% if section_detail.subscribed %}Вы оформили подписку{% else %}У вас нет оформленных подписок{% endif %}
{% endblock title %}

{% block header %}
    <h1>{% if subs_detail.subscribed %}Вы оформили подписку{% else %}У вас нет оформленных подписок{% endif %}</h1>
{% endblock header %}


{% block content %}
    {% if section_detail.subscribed %}
    <button type="button" name="button" style="width: 120px; height:35px;">
      <a href="/categories/{{ section_detail.id }}/edit/" title="Редактировать">Редактировать</a>
    </button><br><hr><br>
    <h2>{{ section_detail.user.first_name }} {{ section_detail.user.last_name }} вы подписаны на раздел портала:</h2>
    <h3>{{ section_detail.name_cat }}</h3>
    {% else %}
        <h2>У вас нет оформленных подписок</h2>
    {% endif %}
{% endblock content %}

{% block footer %}
{% endblock footer %}

{% block attribution %}
{% endblock attribution %}
