{% extends 'main.html' %}

{% block title %}
    {% if sections %}
        Разделы портала
    {% else %}
        Разделы отсутствуют на портале!
    {% endif %}
{% endblock title %}

{% block header %}
    <h1><a href="#" title="Разделы портала">Разделы портала</a></h1>
    <p>Всего: {{ sections|length }}</p>
{% endblock header %}

{% block content %}
    {% if sections %}
        <button type="button" name="button">
            <a href="{% url 'section_create' %}" title="Создать раздел">Создать раздел</a>
        </button>
        <br><hr><br>
        {% for cat in sections %}
            <h2><a title="{{ cat.name_cat }}" href="#">{{ cat.name_cat }}</a></h2>
            <h3>{{ cat.description }}</h3>
        {% endfor %}
    {% else %}
        <h2>Разделы отсутствуют на портале</h2>
    {% endif %}
{% endblock content %}

{% block footer %}
{% endblock footer %}

{% block attribution %}
{% endblock attribution %}

